extends temp.pug 
block content
  if isLogin 
    a(href='/post-theme')  发帖
    |
    |
    a(href='/logout')  登出
    |
    |
    span 你好，#{loginUser.username}
    |
    |
    img(src="/uploads/"+loginUser.avatar, alt="" style='width:40px;height:40px')
  else 
    a(href='/login')   登录
    |
    |
    a(href='/register') 注册
  mixin comments(val)
      div(class="card" style="width: 18rem;")
        div(class="card-body")
          h5(class="card-title")=val.title 
          h6(class="card-subtitle mb-2 text-muted") by #{val.username} at #{val.timestamp}
          p(class="card-text")=val.content
          a(href=`/post-theme/${val.postId}` class='card-link') 详情
          //- button() 
  each val in themeMess
    +comments(val)

