extends temp.pug 
block content 
  if isLogin 
    a(href='/post-theme')  发帖
    |
    |
    a(href='/logout')  登出
    |
    |
    span 你好，#{loginUser.username}
    img(src="/uploads"+loginUser.avatar, alt="")
  else 
    a(href='/login')   登录
    |
    |
    a(href='/register') 注册
  h2=theme.title
  p=theme.username+'|'+theme.timestamp
  div=theme.content
  br
  if loginUser==theme.username
    button(class='btn btn-primary') 删除
  hr
  ul 
    each cm in comments
      li(id=cm.commentsId)
        p=cm.content 
        em
          strong at
          |
          | 
          =cm.timestamp 
        br
        em
          strong by
          |
          |
          =cm.postBy
        br
        if cm.postBy==loginUser 
          button(class='btn btn-primary' onclick='deleteComment.call(this)') 删除
  if isLogin
    form(action="/post-theme/"+theme.postId method='POST')  
      textarea(name="content", cols="30", rows="10")
      br
      button(type='submit') 回帖  
  else 
    p 回帖请先
      a(href='/login') 登录
  script.
    function deleteComment(){
      let node=this
      let comm=node.parentNode
      console.log(comm)
      let xhr=new XMLHttpRequest()
      xhr.open('DELETE','/delete-comment/'+comm.id)
      xhr.send()
      comm.parentNode.removeChild(comm)
    } 